* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
section {
	margin: 15px 30px;
	padding: 15px;
	border: 2px solid black;
	background: grey;
	position: relative;
}
div {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5px;
	text-align: center;
	width: 150px;
	position: absolute;
	top: 0;
	right: 0;
}
.p1 {
	background: pink;
}
.p2 {
	background: red;
}
.p3 {
	background: yellow;
}
@media (min-width: 992px) {
	section {
		width: 28%;
		margin-left: 20px; 
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sec {
		width: 40%;
		float: left;
	}
	.sec3 {
		width: 80%;
	}
}
